<%# locals: (columns:, collection:, empty_message: "No records found", row_class: nil, row_link: ni) %>

<div class="shadow overflow-hidden rounded border-b border-gray-200">
  <table class="min-w-full bg-white">
    <thead class="bg-gray-800 text-white">
    <% columns.each do |column| %>
      <th class="text-left py-3 px-4 uppercase font-semibold text-sm"><%= column.to_s.humanize %></th>
    <% end %>
    </thead>
    <tbody class="text-gray-700">
    <% if collection.any? %>
      <% collection.each do |record| %>
        <tr class="odd:bg-white even:bg-slate-50 <%= row_class.call(record) %>">
          <% columns.each_with_index do |column, index| %>
            <td class="text-left py-3 px-4">
              <% if index == 0 %>
                <a class="underline" href="<%= row_link.call(record) %>"><%= record.send(column.to_sym) %></a>
              <% else %>
                <%= record.send(column.to_sym) %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="<%= columns.length %>" class="text-center py-3 px-4">
          <%= empty_message %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
